/* line 17, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 82, logo/*.png */
.logo-sprite {
  background: url('../images/logo-s978cf72a2e.png') no-repeat;
}

/* line 82, logo-retina/*.png */
.logo-retina-sprite {
  background: url('../images/logo-retina-s79cea30e6a.png') no-repeat;
}

/* line 8, ../sass/_typography.scss */
h1, h2, h3 {
  font-family: Raleway, "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: 800;
}

/* line 13, ../sass/_typography.scss */
h1 {
  color: #336689;
}

/* line 17, ../sass/_typography.scss */
.primary-heading {
  font-size: 2.66667em;
  line-height: 1.5em;
  line-height: 1.33333em;
}

/* line 22, ../sass/_typography.scss */
.primary-subheading {
  font-size: 1.16667em;
  line-height: 2.28571em;
  line-height: 1.33333em;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: #939399;
}

/* line 30, ../sass/_typography.scss */
.aside-heading {
  font-size: 1.33333em;
  line-height: 2em;
  line-height: 1.33333em;
}

/* line 35, ../sass/_typography.scss */
.aside-subheading {
  font-size: 0.88889em;
  line-height: 1.5em;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: #939399;
}

@media all and (max-width: 650px) {
  /* line 43, ../sass/_typography.scss */
  .primary-heading {
    font-size: 2em;
    line-height: 1.33333em;
  }

  /* line 47, ../sass/_typography.scss */
  .primary-subheading {
    font-size: 1em;
    line-height: 1.33333em;
  }
}
/* line 14, ../sass/_layout.scss */
.page {
  width: 850px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  margin-top: 4em;
}

/* line 20, ../sass/_layout.scss */
.main {
  display: inline;
  float: left;
  margin-right: 30px;
  width: 630px;
  margin-right: 0;
  margin-top: 2.66667em;
}
/* line 147, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .main {
  overflow-x: hidden;
}

/* line 26, ../sass/_layout.scss */
.main-footer {
  display: inline;
  float: left;
  margin-right: 30px;
  width: 850px;
  margin-top: 2.66667em;
  margin-bottom: 1.33333em;
}
/* line 147, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .main-footer {
  overflow-x: hidden;
}

@media all and (max-width: 870px) and (min-width: 650px) {
  /* line 36, ../sass/_layout.scss */
  .page {
    margin-top: 2.66667em;
    width: 630px;
  }

  /* line 42, ../sass/_layout.scss */
  .main {
    margin-top: 1.33333em;
  }
}
@media all and (max-width: 650px) {
  /* line 51, ../sass/_layout.scss */
  .page {
    margin-top: 2.66667em;
    width: 300px;
  }

  /* line 57, ../sass/_layout.scss */
  .main {
    display: inline;
    float: left;
    margin-right: 30px;
    width: 300px;
    margin-top: 1.33333em;
  }
  /* line 147, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
  * html .main {
    overflow-x: hidden;
  }
}
/* line 27, ../sass/main.scss */
html {
  background: #fffefb;
}

/* line 3, ../sass/_aside.scss */
.aside {
  display: inline;
  float: left;
  margin-right: 30px;
  width: 190px;
}
/* line 147, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .aside {
  overflow-x: hidden;
}

/* line 7, ../sass/_aside.scss */
.aside-header {
  margin-bottom: 0.33333em;
  padding-bottom: 0.33333em;
  border-bottom: 1px solid #d5d5d7;
}

/* line 13, ../sass/_aside.scss */
.aside-portrait {
  margin-bottom: -1.33333em;
}

@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  /* line 21, ../sass/_aside.scss */
  .aside-portrait {
    background-image: url("../images/mig@2x.png");
    background-size: 190px 336px;
    background-repeat: no-repeat;
    text-indent: -119988px;
    overflow: hidden;
    text-align: left;
  }
}
@media all and (max-width: 870px) and (min-width: 650px) {
  /* line 31, ../sass/_aside.scss */
  .aside {
    display: inline;
    float: left;
    position: relative;
    margin: 0 -220px 1.5em 220px;
    margin-right: 0;
  }
}
@media all and (max-width: 650px) {
  /* line 38, ../sass/_aside.scss */
  .aside {
    display: inline;
    float: left;
    position: relative;
    margin: 0 -55px 1.5em 55px;
    margin-right: 0;
  }
}
/* line 16, ../sass/_sites.scss */
.sites a {
  -webkit-transition: margin-top 0.15s ease-in-out;
  -moz-transition: margin-top 0.15s ease-in-out;
  -o-transition: margin-top 0.15s ease-in-out;
  transition: margin-top 0.15s ease-in-out;
  display: block;
  position: relative;
  text-decoration: none;
}
/* line 22, ../sass/_sites.scss */
.sites a:hover {
  margin-top: -0.66667em;
}
/* line 25, ../sass/_sites.scss */
.sites a:hover > .site-background {
  margin-left: -72px;
  top: -24px;
  height: 144px;
  width: 144px;
}
/* line 32, ../sass/_sites.scss */
.sites a:hover > .site-logo {
  margin-bottom: 48px;
}
/* line 36, ../sass/_sites.scss */
.sites a:hover > .site-background, .sites a:hover > .site-logo {
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

/* line 44, ../sass/_sites.scss */
.site {
  display: inline;
  float: left;
  margin-right: 30px;
  width: 190px;
  margin-bottom: 2.66667em;
}
/* line 147, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .site {
  overflow-x: hidden;
}
/* line 48, ../sass/_sites.scss */
.site:last-child {
  margin-right: 0;
  margin-bottom: 0em;
}

/* line 54, ../sass/_sites.scss */
.site-background {
  background-position: center;
  background-attachment: fixed;
  border-radius: 144px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  margin-left: -43px;
  position: absolute;
  top: 5px;
  left: 50%;
  height: 86px;
  width: 86px;
  z-index: 1;
}

/* line 68, ../sass/_sites.scss */
.site-logo {
  background: #dddde0 no-repeat;
  border-radius: 96px;
  -webkit-transition: none 0.3s ease-out;
  -moz-transition: none 0.3s ease-out;
  -o-transition: none 0.3s ease-out;
  transition: none 0.3s ease-out;
  -webkit-transition-property: background-color, margin-bottom;
  -moz-transition-property: background-color, margin-bottom;
  -o-transition-property: background-color, margin-bottom;
  transition-property: background-color, margin-bottom;
  margin: 0 auto 24px;
  position: relative;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  height: 96px;
  width: 96px;
  z-index: 10;
}

/* line 81, ../sass/_sites.scss */
.site-caption {
  text-align: center;
  text-transform: lowercase;
  font-family: Georgia, serif;
  font-style: italic;
  color: #939399;
}

/* line 93, ../sass/_sites.scss */
.site-maf > .site-logo {
  background-image: url('../images/logo-s978cf72a2e.png');
  background-position: 8px -92px;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  /* line 93, ../sass/_sites.scss */
  .site-maf > .site-logo {
    background-image: url('../images/logo-retina-s79cea30e6a.png');
    background-size: 80px 580px;
  }
}
/* line 97, ../sass/_sites.scss */
.site-maf:hover > .site-logo {
  background-color: rgba(0, 0, 0, 0.75);
  background-position: 8px -192px;
}
/* line 102, ../sass/_sites.scss */
.site-maf > .site-background {
  background-image: url('../images/backgrounds/maf.jpg?1343344619');
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  /* line 102, ../sass/_sites.scss */
  .site-maf > .site-background {
    background-image: url('../images/backgrounds/maf@2x.jpg?1343344912');
    background-size: 525px 700px;
  }
}

/* line 111, ../sass/_sites.scss */
.site-nejt > .site-logo {
  background-image: url('../images/logo-s978cf72a2e.png');
  background-position: 8px -392px;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  /* line 111, ../sass/_sites.scss */
  .site-nejt > .site-logo {
    background-image: url('../images/logo-retina-s79cea30e6a.png');
    background-size: 80px 580px;
    background-position: 8px -492px;
  }
}
/* line 115, ../sass/_sites.scss */
.site-nejt:hover > .site-logo {
  background-color: rgba(0, 0, 0, 0.1);
  background-position: 8px -292px;
}
/* line 120, ../sass/_sites.scss */
.site-nejt > .site-background {
  background-color: #f7ede6;
  background-image: url('../images/backgrounds/nejt.png?1321294067');
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  /* line 120, ../sass/_sites.scss */
  .site-nejt > .site-background {
    background-image: url('../images/backgrounds/nejt@2x.png?1321294067');
    background-size: 400px 400px;
  }
}

/* line 130, ../sass/_sites.scss */
.site-portfolio > .site-logo {
  background-image: url('../images/logo-s978cf72a2e.png');
  background-position: 8px -492px;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  /* line 130, ../sass/_sites.scss */
  .site-portfolio > .site-logo {
    background-image: url('../images/logo-retina-s79cea30e6a.png');
    background-size: 80px 580px;
    background-position: 8px -392px;
  }
}
/* line 134, ../sass/_sites.scss */
.site-portfolio:hover > .site-logo {
  background-color: #6aabff;
  background-position: 8px 8px;
}
/* line 139, ../sass/_sites.scss */
.site-portfolio > .site-background {
  background-image: url('../images/backgrounds/portfolio.png?1361584772');
  background-color: #dddde0;
  background-attachment: scroll;
  background-position: -78px -20px;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  /* line 139, ../sass/_sites.scss */
  .site-portfolio > .site-background {
    background-image: url('../images/backgrounds/portfolio@2x.png?1361584747');
    background-size: 120px 120px;
  }
}
/* line 146, ../sass/_sites.scss */
.site-portfolio:hover > .site-background {
  background-position: -48px 0;
}

@media all and (max-width: 650px) {
  /* line 152, ../sass/_sites.scss */
  .site {
    display: inline;
    float: left;
    margin-right: 30px;
    width: 300px;
  }
  /* line 147, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
  * html .site {
    overflow-x: hidden;
  }
}
/* line 3, ../sass/_links.scss */
a {
  text-decoration: none;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 0.88889em;
  line-height: 1.5em;
}

/* line 9, ../sass/_links.scss */
a[class^=special-link] {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-transition-property: margin-left, color;
  -moz-transition-property: margin-left, color;
  -o-transition-property: margin-left, color;
  transition-property: margin-left, color;
  display: inline-block;
  color: #545459;
}
/* line 15, ../sass/_links.scss */
a[class^=special-link]:hover {
  margin-left: 1.5em;
  color: #161617;
}
/* line 19, ../sass/_links.scss */
a[class^=special-link]:hover::before {
  margin-left: -1em;
  display: inline-block;
  font-size: 21px;
  line-height: 16.8px;
  position: absolute;
}
/* line 28, ../sass/_links.scss */
a[class^=special-link]:active {
  -webkit-transform: translateY(1px);
  -moz-transform: translateY(1px);
  -ms-transform: translateY(1px);
  -o-transform: translateY(1px);
  transform: translateY(1px);
}

/* line 34, ../sass/_links.scss */
.special-link-email:hover::before {
  content: "\270D";
}

/* line 40, ../sass/_links.scss */
.special-link-back:hover::before {
  content: "\2190";
}

/* line 45, ../sass/_links.scss */
a.subtle-link {
  color: #939399;
}
/* line 48, ../sass/_links.scss */
a.subtle-link:hover {
  color: #545459;
}

/* line 3, ../sass/_introduction.scss */
.introduction {
  margin-bottom: 4em;
}

@media all and (max-width: 870px) and (min-width: 650px) {
  /* line 8, ../sass/_introduction.scss */
  .introduction {
    margin-bottom: 2.66667em;
  }
}
