/* line 17, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 50, logo/*.png */
.logo-sprite {
  background: url('../images/logo-s7ab2d552d8.png') no-repeat;
}

/* line 50, logo-retina/*.png */
.logo-retina-sprite {
  background: url('../images/logo-retina-scbf058b018.png') no-repeat;
}

/* line 6, ../sass/_grid.scss */
.page {
  width: 870px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}

/* line 11, ../sass/_grid.scss */
.columns.one, .column.one {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 210px;
}
/* line 147, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .columns.one, * html .column.one {
  overflow-x: hidden;
}
/* line 14, ../sass/_grid.scss */
.columns.one.half, .half.column.one {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 100px;
}
/* line 147, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .columns.one.half, * html .half.column.one {
  overflow-x: hidden;
}
/* line 19, ../sass/_grid.scss */
.columns.two {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 430px;
}
/* line 147, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .columns.two {
  overflow-x: hidden;
}
/* line 22, ../sass/_grid.scss */
.columns.two.half {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 320px;
}
/* line 147, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .columns.two.half {
  overflow-x: hidden;
}
/* line 27, ../sass/_grid.scss */
.columns.three {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 650px;
}
/* line 147, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .columns.three {
  overflow-x: hidden;
}
/* line 30, ../sass/_grid.scss */
.columns.three.half {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 540px;
}
/* line 147, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .columns.three.half {
  overflow-x: hidden;
}
/* line 35, ../sass/_grid.scss */
.columns.four {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 870px;
}
/* line 147, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .columns.four {
  overflow-x: hidden;
}
/* line 38, ../sass/_grid.scss */
.columns.four.half {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 760px;
}
/* line 147, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .columns.four.half {
  overflow-x: hidden;
}
/* line 43, ../sass/_grid.scss */
.columns.last, .column.last {
  margin-right: 0;
}

/* line 58, ../sass/_grid.scss */
.push-one {
  display: inline;
  float: left;
  position: relative;
  margin: 0 -220px 1.5em 220px;
}

/* line 21, ../sass/main.scss */
h1 {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #33668f;
}

/* line 27, ../sass/main.scss */
.primary-heading {
  font-size: 2em;
  line-height: 1.33333em;
}

/* line 31, ../sass/main.scss */
.primary-subheading {
  color: #999999;
}

/* line 12, ../sass/_sites.scss */
.sites a {
  display: block;
  position: relative;
  text-decoration: none;
}
/* line 18, ../sass/_sites.scss */
.sites a:hover > .site-background {
  margin-left: -75px;
  top: -25px;
  height: 150px;
  width: 150px;
}
/* line 25, ../sass/_sites.scss */
.sites a:hover > .site-logo {
  margin-bottom: 50px;
}
/* line 29, ../sass/_sites.scss */
.sites a:hover > .site-background, .sites a:hover > .site-logo {
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

/* line 37, ../sass/_sites.scss */
.site {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 210px;
}
/* line 147, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .site {
  overflow-x: hidden;
}
/* line 40, ../sass/_sites.scss */
.site:last-child {
  margin-right: 0;
}

/* line 45, ../sass/_sites.scss */
.site-background {
  background-position: center;
  background-attachment: fixed;
  border-radius: 150px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  margin-left: -45px;
  position: absolute;
  top: 5px;
  left: 50%;
  height: 90px;
  width: 90px;
  z-index: 1;
}

/* line 59, ../sass/_sites.scss */
.site-logo {
  background: #dddde0 no-repeat;
  border-radius: 100px;
  -webkit-transition: none 0.3s ease-out;
  -moz-transition: none 0.3s ease-out;
  -o-transition: none 0.3s ease-out;
  transition: none 0.3s ease-out;
  -webkit-transition-property: background-color, margin-bottom;
  -moz-transition-property: background-color, margin-bottom;
  -o-transition-property: background-color, margin-bottom;
  transition-property: background-color, margin-bottom;
  margin: 0 auto 25px;
  position: relative;
  text-indent: -9999px;
  height: 100px;
  width: 100px;
  z-index: 10;
}

/* line 72, ../sass/_sites.scss */
.site-caption {
  text-align: center;
  text-transform: lowercase;
  font-style: italic;
  color: #999;
}

/* line 84, ../sass/_sites.scss */
.site-maf > .site-logo {
  background-image: url('../images/logo-s7ab2d552d8.png');
  background-position: 10px 10px;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  /* line 84, ../sass/_sites.scss */
  .site-maf > .site-logo {
    background-image: url('../images/logo-retina-scbf058b018.png');
    background-size: 80px 160px;
  }
}
/* line 88, ../sass/_sites.scss */
.site-maf:hover > .site-logo {
  background-color: rgba(0, 0, 0, 0.75);
  background-position: 10px -70px;
}
/* line 93, ../sass/_sites.scss */
.site-maf > .site-background {
  background-image: url('../images/backgrounds/maf.jpg?1343344619');
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  /* line 93, ../sass/_sites.scss */
  .site-maf > .site-background {
    background-image: url('../images/backgrounds/maf@2x.jpg?1343344912');
    background-size: 525px 700px;
  }
}
