@import "compass/typography/text/replacement";

.aside {
	@include column(2);
}

.aside-header {
	@include margin-trailer(0.25);
	@include padding-trailer(0.25);
	border-bottom: 1px solid $light-body-color;
}

.aside-portrait {
	@include margin-trailer(-0.5);
}

.aside-footer {
	@include margin-leader(2);
}

@media all and (-webkit-min-device-pixel-ratio: 1.5),
all and (-o-min-device-pixel-ratio: 3/2),
all and (min--moz-device-pixel-ratio: 1.5),
all and (min-device-pixel-ratio: 1.5) {
	.aside-portrait {
		background-image: url("../images/mig@2x.png");
		background-size: 210px 336px;
		background-repeat: no-repeat;
		@include hide-text();
	}
}
