$background-color:	#fffefb;
$heading-color:		#cc69a0;
$body-color:		#939399;
$button-color:		#dddde0;
$link-color:		darken($body-color, 25%);
$link-hover-color:	darken($link-color, 25%);
$light-body-color:	lighten($body-color, 25%);
