$blueprint-grid-columns:	8;
$blueprint-grid-width:		100px;
$blueprint-grid-margin:		10px;
@import "blueprint/grid";

.page {
	@include container;
}

.columns {
	&.one {
		@include column(2);

		&.half {
			@include column(1);
		}
	}

	&.two {
		@include column(4);

		&.half {
			@include column(3);
		}
	}

	&.three {
		@include column(6);

		&.half {
			@include column(5);
		}
	}

	&.four {
		@include column(8);

		&.half {
			@include column(7);
		}
	}

	&.last {
		@include last;
	}
}

.column {
	&.one {
		@extend .one.columns;
	}

	&.last {
		@extend .columns.last;
	}
}

.push-one {
	@include push(2);
}
