// Actual grid dimensions
$blueprint-grid-columns:	8;
$blueprint-grid-width:		80px;
$blueprint-grid-margin:		30px;
@import "blueprint/grid";

// Grid background
$grid-background-total-columns:		$blueprint-grid-columns;
$grid-background-column-width:		$blueprint-grid-width;
$grid-background-gutter-width:		$blueprint-grid-margin;
$grid-background-baseline-height:	$base-line-height / 2;
@import "compass/layout/grid-background";

.page {
	@include container;
	@include margin-leader(3);
	/*@include grid-background;*/
}

.main {
	@include column(6);
	@include last;
	@include margin-leader(2);
}

.main-footer {
	@include column(8);
	@include margin-leader(2);
}
