// Actual grid dimensions
$blueprint-grid-columns:	8;
$blueprint-grid-width:		80px;
$blueprint-grid-margin:		30px;
@import "blueprint/grid";

// Grid background
$grid-background-total-columns:		$blueprint-grid-columns;
$grid-background-column-width:		$blueprint-grid-width;
$grid-background-gutter-width:		$blueprint-grid-margin;
$grid-background-baseline-height:	$base-line-height / 2;
@import "compass/layout/grid-background";

.page {
	@include container;
	@include margin-leader(3);
	//@include grid-background;
}

.main {
	@include column(6);
	@include last;
	@include margin-leader(2);
}

.main-footer {
	@include column(8);
	@include margin-leader(2);
	@include margin-trailer(1);
}

@media all and (max-width: $breakpoint-1) and (min-width: $breakpoint-2) {
	$blueprint-grid-columns: 6;
	$grid-background-total-columns: $blueprint-grid-columns;

	.page {
		@include margin-leader(2);
		//@include grid-background;
		width: ($blueprint-grid-width + $blueprint-grid-margin) * $blueprint-grid-columns - $blueprint-grid-margin;
	}

	.main {
		@include margin-leader(1);
	}
}

@media all and (max-width: $breakpoint-2) {
	$blueprint-grid-columns: 3;
	$grid-background-total-columns: $blueprint-grid-columns;

	.page {
		@include margin-leader(2);
		//@include grid-background;
		width: ($blueprint-grid-width + $blueprint-grid-margin) * $blueprint-grid-columns - $blueprint-grid-margin;
	}

	.main {
		@include column(3);
		@include margin-leader(1);
	}
}
