@import "compass/typography/text/replacement";

// Site button parameters
$sprite-height:	80px;
$sprite-width:	80px;
$site-button-size:				96px;
$site-button-background-size:	144px;
$site-button-size-difference:	$site-button-background-size - $site-button-size;
$site-button-caption-leading:	25px;
$site-button-timing-on:		0.2s;
$site-button-timing-off:	0.3s;
$site-button-ease-on:		ease-out;
$site-button-ease-off:		ease-out;

.sites {
	a {
		@include transition(margin-top 0.15s ease-in-out);
		display: block;
		position: relative;
		text-decoration: none;

		&:hover {
			@include margin-leader(-0.5);

			& > .site-background {
				margin-left: -($site-button-background-size / 2);
				top: -($site-button-size-difference / 2);
				height: $site-button-background-size;
				width: $site-button-background-size;
			}
			
			& > .site-logo {
				margin-bottom: $site-button-caption-leading + ($site-button-size-difference / 2);
			}
			
			& > .site-background, & > .site-logo {
				@include transition-duration($site-button-timing-on);
				@include transition-timing-function($site-button-ease-on);
			}
		}
	}
}

.site {
	@include column(2);

	&:last-child {
		@include last;
	}
}

.site-background {
	background-position: center;
	background-attachment: fixed;
	border-radius: $site-button-background-size;
	@include transition(all $site-button-timing-off $site-button-ease-off);
	margin-left: (-($site-button-size - 10) / 2);
	position: absolute;
	top: 5px; // We shrank the size by 10, so we have to move it down by 10/2
	left: 50%;
	height: $site-button-size - 10;
	width: $site-button-size - 10;
	z-index: 1;
}

.site-logo {
	background: $button-color no-repeat;
	border-radius: $site-button-size;
	@include transition(none $site-button-timing-off $site-button-ease-off);
	@include transition-property(background-color, margin-bottom);
	margin: 0 auto $site-button-caption-leading;
	position: relative;
	@include hide-text();
	height: $site-button-size;
	width: $site-button-size;
	z-index: 10;
}

.site-caption {
	text-align: center;
	text-transform: lowercase;
	font-family: $serif;
	font-style: italic;
	color: $body-color;
}

.site-maf {
	$offset-x: ($site-button-size - $sprite-width) / 2;
	$offset-y: ($site-button-size - $sprite-height) / 2;

	& > .site-logo {
		@include sprite2x($logo-sprites, $logo-retina-sprites, maf, $offset-x, $offset-y);
	}

	&:hover > .site-logo {
		background-color: rgba(0,0,0,0.75);
		background-position: sprite-position($logo-sprites, maf-color, $offset-x, $offset-y);
	}

	& > .site-background {
		@include image2x('backgrounds/maf.jpg', 'backgrounds/maf@2x.jpg');
	}
}

.site-nejt {
	$offset-x: ($site-button-size - $sprite-width) / 2;
	$offset-y: ($site-button-size - $sprite-height) / 2;

	& > .site-logo {
		@include sprite2x($logo-sprites, $logo-retina-sprites, nejt, $offset-x, $offset-y);
	}

	&:hover > .site-logo {
		background-color: rgba(0,0,0,0.1);
		background-position: sprite-position($logo-sprites, nejt-color, $offset-x, $offset-y);
	}

	& > .site-background {
		background-color: #f7ede6;
		@include image2x('backgrounds/nejt.png', 'backgrounds/nejt@2x.png');
	}
}

.site-portfolio {
	$offset-x: ($site-button-size - $sprite-width) / 2;
	$offset-y: ($site-button-size - $sprite-height) / 2;

	& > .site-logo {
		@include sprite2x($logo-sprites, $logo-retina-sprites, portfolio, $offset-x, $offset-y);
	}

	&:hover > .site-logo {
		background-color: #6aabff;
		background-position: sprite-position($logo-sprites, portfolio-color, $offset-x, $offset-y);
	}

	& > .site-background {
		@include image2x('backgrounds/portfolio.png', 'backgrounds/portfolio@2x.png');
		background-color: $button-color;
	}
}
