$base-font-size:	18px;
$base-line-height:	24px;
$sans-serif:	"Source Sans Pro", "Helvetica Neue", Arial, Helvetica, sans-serif;
$serif:			Georgia, serif;
$display-face:	Vollkorn, $serif;
@import "compass/typography/vertical_rhythm";

h1, h2, h3 {
	font-family: $display-face;
	font-weight: 700;
}

h1 {
	color: $heading-color;
}

.primary-heading {
	@include adjust-font-size-to(48px);
	@include adjust-leading-to(1);
	font-style: italic;
}

.primary-subheading {
	@include adjust-font-size-to(21px);
	@include adjust-leading-to(1);
	font-family: $sans-serif;
	font-weight: normal;
	color: $body-color;
}

.aside-heading {
	@include adjust-font-size-to(24px);
	@include adjust-leading-to(1);
	font-weight: normal;
}

.aside-subheading {
	@include adjust-font-size-to(16px);
	font-family: $sans-serif;
	font-weight: normal;
	color: $body-color;
}

@media all and (max-width: $breakpoint-2) {
	.primary-heading {
		@include adjust-font-size-to(36px);
	}

	.primary-subheading {
		@include adjust-font-size-to(18px);
	}
}
