@import "compass/reset";
@import "compass/css3/transition";

// Typography
$base-font-size:	18px;
$base-line-height:	24px;
$sans-serif: "Helvetica Neue", Arial, Helvetica, sans-serif;
$heading-color:	#33668f;
$body-color:	#999;
@import "compass/typography/vertical_rhythm";

@import "_retina";

// Sprites
@import "logo/*.png";
@import "logo-retina/*.png";

// Site button parameters
$site-button-size:				100px;
$site-button-background-size:	150px;
$site-button-size-difference:	$site-button-background-size - $site-button-size;
$site-button-caption-leading:	25px;
$site-button-timing-on:		0.2s;
$site-button-timing-off:	0.3s;
$site-button-ease-on:		ease-out;
$site-button-ease-off:		ease-out;

.primary-heading {
	@include adjust-font-size-to(36px);
	font-family: $sans-serif;
	font-weight: bold;
	color: $heading-color;
}

.primary-subheading {
	color: $body-color;
}

@import "sites";
