@import "compass/reset";
@import "compass/css3/transition";

// Layout breakpoints
$breakpoint-1: 870px;
$breakpoint-2: 650px;

// Custom mixins
@import "retina";

// Sprites
$logo-layout:	vertical;
$logo-spacing:	20px;
$logo-retina-layout:	vertical;
$logo-retina-spacing:	40px;
@import "logo/*.png";
@import "logo-retina/*.png";

@import "color";

// Typography
@import "typography";

// Layout (must come after typography because this uses $base-line-height)
@import "layout";

html {
	background: $background-color;
}

// Modules
@import "aside";
@import "sites";
@import "links";
@import "introduction";
