.sites li {
	float: left;
	list-style: none;
	width: 200px;
}

.sites a {
	margin: 0 auto;
	display: block;
	position: relative;
}

.site-background {
	background: #f00;
	background-position: fixed;
	border-radius: 100px;
	-webkit-transition: all 0.2s;
	display: block;
	position: absolute;
	top: 5px;
	left: 55px;
	height: 90px;
	width: 90px;
	z-index: 1;
}

.sites > li:hover .site-background {
	top: -25px;
	left: 25px;
	height: 150px;
	width: 150px;
}

.site-logo {
	background: #0f0;
	border-radius: 100px;
	-webkit-transition: all 0.2s;
	margin: 0 auto 25px;
	position: relative;
	height: 100px;
	width: 100px;
	z-index: 10;
}

a:hover .site-logo {
	background: #00f;
	margin-bottom: 50px;
}

.sites p {
	text-align: center;
}
